div {
  text-align: center;
}

input {
  margin-bottom: 1rem;
  transition: all 1s;
  width: 20%;
  text-align: center;
}

input:focus {
  width: 100%;
  /* border-color: aqua; */
  /* border-width: 1px; */
  /* outline: 0; */
}

tbody tr:hover {
  background-color: cornsilk;
}
